.context-course_ {
	/*IMBA TEMPLATE*/				&290915,
	/*NET1000 Online MSE*/			&315315,
	/*NET1000 PDB*/ 				&315958,
	/*F14 ACG5065 KNECHEL*/			&270284,
	/*F14 BUL5810 DIMATEO*/  		&270280,
	/*F14 BUL5810 DIMATEO*/  		&304999,
	/*F14 ECP5705 RUSH*/			&270282,
	/*F14 FIN6626 NARANJO IC08*/ 	&270279,
	/*F14 FIN6626 NARANJO IC09*/	&304998,	
	/*F14 GEB5212 BARNES*/ 			&270281,
	/*F14 GEB5212 MCCAWLEY*/ 		&270283,
	/*F14 NET1000 GRAFF*/			&313314,
	/*F14 NET1000 WP */				&280388,
	
	/*S15 ACG5065 KNECHEL*/			&314730,
	/*S15 ECP5705 RUSH*/			&314729,
	/*S15 ENT6006 Morris*/			&314351,
	/*S15 FIN5405 Houston*/			&313868,
	/*S15 FIN6425 133H NIMAL*/		&312992,
	/*S15 FIN6425 1334 NIMAL*/		&312993,
	/*S15 FIN6626 NARANJO IC08*/ 	&314727,
	/*S15 FIN6626 Naranjo*/			&313879,
	/*S15 GEB5114 Gentry*/			&314558,
	/*S15 GEB5212 BARNES*/			&314728,
	/*S15 GEB5212 MCCAWLEY*/ 		&314731,
	/*S15 MAN5501 VAKHARIA*/		&313114, &314066,
	/*S15 MAR6930 Sturdivant*/		&312995, &312994,
	/*S15 QMB5303 PATHAK*/  		&313874 {

		#wiki_page_show {
			
			// removes padding for wiki page content area 	
// 			.show-content {padding: 0;}
			
			// subtitle for the course, goes before <div class="container>	
			.subtitle {background-color: #24618c;}
			
			// background color for the wiki page
			.container {background: #24618c;}
			
			//=================
			// COURSE HEADER
			//=================
			// instructor's photo
			.prof {
				background: url('course-style/_default/placeholder.png') no-repeat 0% 100%;
				border-radius: 100%;
				border: 5px solid whitesmoke;
				background-repeat: no-repeat;
				box-shadow: 0px 1px 1px rgba(48,48,48,1);
				background-size: cover;
			}
			
			//course and instructor's name, front page navigation
			.title {
				// course name				
				h2  {
					border-bottom: 2px solid orange;
					text-shadow: 0px 1px 1px rgba(48,48,48,1);
				}
				
				// instructor's name
				h4 {
					line-height: 1.1em;
					margin: 0;
					border-bottom: none;
					text-shadow: 0px 1px 1px rgba(48,48,48,1);
				}					
				
				// front page navigation
				ul.nav {
					li:first-child {padding-left: 0;}
			
					li+li {border-left: 1px solid orange;}
			
					a {
						color: white;
						transition: color 0.5s ease;
						border-bottom: none;
					
						&:hover {
							color: #ff9d42;
							border-bottom: none;
						}
					} // end a
				} // end ul.nav
			} // end .title
			
			//=================
			// MODULE NAVIGATION
			//=================		
			.button {
				border-radius: 100%;
				box-shadow: 0px 1px 1px rgba(48,48,48,1) ;
				background-color: rgba(233,233,233,1);
				background-size: cover;
				transition: width .25s ease-in-out, height .25s ease-in-out, border-radius .25s ease-in-out;
				float: left;
				
				a {
					color: white;
					transition: padding .5s ease, background-color .75s ease, border-radius .75s ease;
					font-weight: 300;
					
					&:hover {padding: 50px 0px 110px 0px;}
					&:visited {color: white;}
				} // end a
			} // end .button
			
			// creates the animation for .button on homepage
			.grow {
				width: 150px;
				height: 150px;
				transition: background-color .75s ease, border-radius .75s ease;
				&:hover {	
					padding: 0;
					background-color: rgba(235, 120, 50, .9);
					border-radius: 100%;
				}
			} // end .grow	
	
			//=================
			// HEADINGS (H1 H2 H3 H4)
			//=================
			// targets canvas-generated page title
			h1.page-title {background-color: #24618c;}
			
			// wiki page headings
			h3 {
				margin-top: 0;
				font-size: 2em;
				border-bottom: 2px solid #ff9d42;
			}
			h4 {border-bottom: 2px solid #9e9e9e;}

			//=================
			// LISTS
			//=================
			// lists
			/*
li {
				font-size: 120%;
				line-height: 1.65em;
			}	
*/		
// 			li p {font-size: inherit;}
					
			//=================
			// WIKI PAGE
			//=================					
			// wiki page navigation
			ul.nav li {
				/*
				font-family: 'Lato', sans-serif;
				float: left;
				margin: 0 10px 10px 0; */
				
				padding: 5px 10px;
				background: #FCFCFC;
				border: 1px solid #D3D3D3;
				border-radius: 3px;
		
				a {
// 					color: #333;
					
					font-size: 120%;
					border-bottom: 2px solid #FCFCFC;
					background-color: transparent;
					transition: border-bottom 0.5s ease;
				
					&:hover {border-bottom: 2px solid #ff9d42;}
				} // end a
			} // end ul.nav li	
			
			// Using max-width keeps the iframe from getting cut-off by
			// Canvas's default "overflow: hidden" when in smaller columns, 
			// but keeps the video's orignal dimensions in larger columns. 
// 			iframe {max-width: 100%}  

				
			//=================
			// LINKS
			//=================
			.content {
				a {
					color: #24618c;
					transition: color .3s ease;
				
					&:hover {color:#ff9d42;}
					&:visited {color: gray;}
				}
			}		
						
			// .back styles the "back to top" buttons
			.back {
				margin-top: 10px;
				margin-bottom: 10px;
				
				a {
					font-family: 'Lato', sans-serif;
					color:#303030;
					padding: 5px;
					text-decoration: none;
					border-top: 2px solid transparent;
					border-right: 2px solid #ff9d42;
					border-bottom: 2px solid #ff9d42;
					border-left: 2px solid transparent;
					transition: border-top .3s ease, border-right .3s ease, 
					border-bottom .3s ease, border-left .3s ease;
					
					&:hover {
						border-top: 2px solid #ff9d42;
						border-right: 2px solid transparent;
						border-bottom: 2px solid transparent;
						border-left: 2px solid #ff9d42;
					}
					&:visited {color:#303030;}
				} // end a
			} // end .back 
		} // end #wiki_page_show
		
		// =================	
		// DISCUSSION STYLES
		// =================
		#discussion_topic {
			
			// discussion title background color
			header.discussion-section {background: #24618c;}
			// dicussion title font color
/*
			h1.discussion-title,
			header.discussion-section .discussion-pubdate {
				color: white;
			}
*/
			// hides the avatar 
/*
			a.avatar,
			a.author {
				display: none;
			}
*/
		} // #discussion_topic
		
		// Quiz Header
		.quiz-header h1:first-child,
		// Assignment Header
		#assignment_show h1.title {
/*
			padding: 10px;
			font-weight: 300;
*/
			background-color: #24618c;
/*
			color: white;
			font-family: "Lato", sans-serif;
*/
		}
	} 
}