/*
@font-face {
	font-family: "canvas-icons";
	src: url("../../canvas-lms/public/font/canvas/canvas-icons.woff")
}
*/

@mixin icon-style {
display: inline-block;
font-family: "canvas-icons";
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin-right: 10px;}

#wiki_page_show { 
p.access {
	&:before {
	content: url("img/inline_icons/access.png");
	@include icon-style;}}
p.assignment {
	&:before {
	color: #37a537;
	content: "\F1C2";
	@include icon-style;}}
p.book {
	&:before {
	color:#a22c43;
	content: "\F1B7";
	@include icon-style;}}
p.cert {
	&:before {
	color:black;
	content: "\F19F";
	@include icon-style;}}
p.discussion {
	&:before {
	color:#496FC0;
	content: "\F220";
	@include icon-style;}}
p.doc {
	&:before {
	color:#150db5;
	content: "\F1F6";
	@include icon-style;}}
p.download {
	&:before {
	color:black;
	content: "\F234";
	@include icon-style;}}
p.exam {
	&:before {
	color:black;
	content: "\F21A";
	@include icon-style;}}
p.fb {
	&:before {
	color:#496ebf;
	content: "\F1D2";
	@include icon-style;}}
p.hours {
	&:before {
	color:#37a537;
	content: "\F19A";
	@include icon-style;}}
p.icon_list {
	&:before {
	content: url("img/icon_list.png");
	@include icon-style;}}
p.lecture {
	&:before {
	content: url("img/inline_icons/lecture-icon.png");
	@include icon-style;}}
p.link {
	&:before {
	color:black;
	content: "\F1E3";
	@include icon-style;}}
p.mail {
	&:before {
	color:black;
	content: "\F233";
	@include icon-style;}}
p.meeting {
	&:before {
	color:#496ebf;
	content: "\F1D9";
	@include icon-style;}}
p.mindomo {
	&:before {
	content: url("img/inline_icons/mindomo.png");
	@include icon-style;}}
p.pages {
	&:before {
	color:black;
	content: "\F1CB";
	@include icon-style;}}
p.pdf {
	&:before {
	color:#d90000;
	content: "\F200";
	@include icon-style;}}
p.phone {
	&:before {
	content: url("img/inline_icons/phone-icon.png");
	@include icon-style;}}
p.ppt {
	&:before {
	color:#f36b03;
	content: "\F1F5";
	@include icon-style;}}
p.question {
	&:before {
	color:#f50f0f;
	content: "\F194";
	@include icon-style;}}
p.quiz,p.quizzes_tap {
	&:before {
	color:#000000;
	content: "\F190";
	@include icon-style;}}
p.rss {
	&:before {
	color:#f36b03;
	content: "\F20D";
	@include icon-style;}}
p.self_test, p.tests {
	&:before {
	color:#37a537;
	content: "\F1CE";
	@include icon-style;}}
p.settings {
	&:before {
	color:#383838;
	content: "\f19e";
	@include icon-style;}}
p.skype {
	&:before {
	color:#12a5f4;
	content: "\F213";
	@include icon-style;}}
p.smiley {
	&:before {
	content: url("img/inline_icons/smiley-icon.png");
	@include icon-style;}}
p.storify {
	&:before {
	content: url("img/inline_icons/storify-icon.png");
	@include icon-style;}}
p.team {
	&:before {
	color:#d90000;
	content: "\F1D7";
	@include icon-style;}}
p.twitter {
	&:before {
	color:#4099ff;
	content: "\F21E";
	@include icon-style;}}
p.video, p.youtube {
	&:before {
	color:black;
	content: "\F1D3";
	@include icon-style;}}
p.xls {
	&:before {
	color:#07532b;
	content: "\F1F4";
	@include icon-style;}}
p.zip {
	&:before {
	color:black;
	content: "\F1A8";
	@include icon-style;}}
	
li>a[href $= ".pdf"],
li>a[href $= ".PDF"], 
li>a[href $= ".pdf#"],
li>a[href $= ".PDF#"],
li>a[href $= ".pdf?"],
li>a[href $= ".PDF?"],
li a[title $= ".pdf"],
li a[title $= ".PDF"], 
li a[title $= ".pdf#"],
li a[title $= ".PDF#"],
li a[title $= ".pdf?"],
li a[title $= ".PDF?"] {
	&:before {	
	color:#d90000;
	content: "\f200";
	@include icon-style;}}
	
li>a[href $= ".doc"],
li>a[href $= ".DOC"],
li>a[href $= ".docx"],
li>a[href $= ".DOCX"],
li a[title $= ".doc"],
li a[title $= ".DOC"],
li a[title $= ".docx"],
li a[title $= ".DOCX"] {
	&:before {	
	color:#150db5;
	content: "\f1f6";
	@include icon-style;}}
	
li>a[href $= ".xls"],
li>a[href $= ".XLS"],
li>a[href $= ".xlsx"],
li>a[href $= ".XLSX"],
li>a[href $= ".xlsm"],
li>a[href $= ".XLSM"],
li>a[href $= ".xlsb"],
li>a[href $= ".XLSB"],
li a[title $= ".xls"],
li a[title $= ".XLS"],
li a[title $= ".xlsx"],
li a[title $= ".XLSX"],
li a[title $= ".xlsm"],
li a[title $= ".XLSM"],
li a[title $= ".xlsb"],
li a[title $= ".XLSB"] {
	&:before {	
	color:#07532b;
	content: "\f1f4"; 
	@include icon-style;}}
	
li>a[href $= ".ppt"],
li>a[href $= ".PPT"],
li>a[href $= ".pptx"],
li>a[href $= ".PPTX"],
li>a[href $= ".pps"],
li>a[href $= ".PPS"],
li>a[href $= ".ppsx"],
li>a[href $= ".PPSX"],
li a[title $= ".ppt"],
li a[title $= ".PPT"],
li a[title $= ".pptx"],
li a[title $= ".PPTX"],
li a[title $= ".pps"],
li a[title $= ".PPS"],
li a[title $= ".ppsx"],
li a[title $= ".PPSX"] {
	&:before {
	color:#f36b03;
	content: "\f1f5"; 
	@include icon-style;}}
	
li>a[href $= ".zip"],
li>a[href $= ".ZIP"],
li a[title $= ".zip"],
li a[title $= ".ZIP"] {
	&:before {	
	color:#424242;
	content: "\f1a8"; 
	@include icon-style;}}

li>a[href $= ".rss"],
li>a[href $= ".RSS"],
li a[title $= ".rss"],
li a[title $= ".RSS"] {
	&:before {	
	color:#eb8e00;
	content: "\f20d";
	@include icon-style;}}

li>a[href ^= "mailto:"],
li>a[href ^= "MAILTO:"],
li a[title ^= "mailto:"],
li a[title ^= "MAILTO:"] {
	&:before {	
	color: black;
	content: "\f233";
	@include icon-style;}}

li>a[href ^= "youtube.com"],
li>a[href ^= "www.youtube.com"],  
li>a[href ^= "http://www.youtube.com"], 
li>a[href ^= "vimeo.com"], 
li>a[href ^= "www.vimeo.com"], 
li>a[href ^= "http://www.vimeo.com"],
li>a[href $= "videolectures.asp"], 
li>a[href ^= "warrington.video.ufl.edu"],
li>a[href ^= "https://warrington.video.ufl.edu"],
li a[title ^= "youtube.com"],
li a[title ^= "www.youtube.com"],  
li a[title ^= "http://www.youtube.com"], 
li a[title ^= "vimeo.com"], 
li a[title ^= "www.vimeo.com"], 
li a[title ^= "http://www.vimeo.com"],
li a[title $= "videolectures.asp"], 
li a[title ^= "warrington.video.ufl.edu"],
li a[title ^= "https://warrington.video.ufl.edu"] {
	&:before {	
	color: black;
	content: "\f1d3"; 
	@include icon-style;}}	
	
} //END #wiki_page_show