@mixin grow-style{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;}
		
.context-course_{
	& {
		.prof {
			background-image: url("../img/prof/placeholder.png");
			width: 200px;
			height: 200px;
			border-radius: 100%;
			border: 5px solid whitesmoke;
			background-repeat: no-repeat;
			box-shadow: 0px 1px 1px rgba(48,48,48,1);
			background-size: cover;
			position: absolute;}	
		.m0 {
			background-image: url("../img/menu_icons/_default/module.png"); 
			@include grow-style;}
		.m1 {
			background-image: url("../img/menu_icons/_default/module.png"); 
			@include grow-style;}
		.m2 {
			background-image: url("../img/menu_icons/_default/module.png"); 
			@include grow-style;}
		.m3 {
			background-image: url("../img/menu_icons/_default/module.png"); 
			@include grow-style;}
		.m4 {
			background-image: url("../img/menu_icons/_default/module.png"); 
			@include grow-style;}
		.m5 {
			background-image: url("../img/menu_icons/_default/module.png"); 
			@include grow-style;}
		.m6 {
			background-image: url("../img/menu_icons/_default/module.png"); 
			@include grow-style;}
		.m7 {
			background-image: url("../img/menu_icons/_default/module.png");
			@include grow-style;}
		.m8 {
			background-image: url("../img/menu_icons/_default/module.png");
			@include grow-style;}
		.m9 {
			background-image: url("../img/menu_icons/_default/module.png");
			@include grow-style;}
		.m10 {
			background-image: url("../img/menu_icons/_default/module.png");
			@include grow-style;}
		.m11 {
			background-image: url("../img/menu_icons/_default/module.png");
			@include grow-style;}
		.m12 {
			background-image: url("../img/menu_icons/_default/module.png");
			@include grow-style;}
	}
} //end .context-course_...