@mixin icon-style {
	width: auto;
	height: auto;
	padding: 25px 0px 0px 65px;}

#unit {
	background: url("../_img/title_icons/unit.png") no-repeat 0% 50%;
	@include icon-style;}

#key {
	background: url("../_img/title_icons/key.png") no-repeat 0%  50%;
	@include icon-style;}

#obj {
	background: url("../_img/title_icons/obj.png") no-repeat 0%  50%;
	@include icon-style;}

#learn {
	background: url("../_img/title_icons/learn.png") no-repeat 0%  50%;
	@include icon-style;}

#disc {
	background: url("../_img/title_icons/discussion.png") no-repeat 0%  50%;
	@include icon-style;}